<div id="wrapper">
    <div id="header">Menü</div>
    <div id="menu">
        <div class="menu-wrapper">
            <div class="item">
                <div class="header">leves</div>
                <div class="content">
                    <div class="content-item">Orjaleves zöldségeivel, petrezselymes májgombóccal</div>
                </div>
            </div>
            <div class="item">
                <div class="header">főételek</div>
                <div class="content">
                    <div class="content-item">
                        Mozzarella sajttal, füstölt házi sonkával töltött jércemell parmezános bundában
                    </div>
                    <div class="content-item">Baconbe göngyölt csirkemell füstölt sajttal töltve</div>
                    <div class="content-item">Sertéstarja zöldfűszeres köntösben</div>
                    <div class="content-item">Harcsapaprikás</div>
                </div>
            </div>
            <div class="item">
                <div class="header">köretek</div>
                <div class="content">
                    <div class="content-item">Zöldséges rizs</div>
                    <div class="content-item">Steak burgonya</div>
                    <div class="content-item">Kapros-túrós csusza</div>
                </div>
            </div>
        </div>
        <div class="menu-wrapper">
            <div class="item">
                <div class="header">saláták</div>
                <div class="content">
                    <div class="content-item">Majonézes kukoricasaláta</div>
                    <div class="content-item">Friss kevert saláta</div>
                    <div class="content-item">Hordós vegyes savanyúság</div>
                </div>
            </div>
            <div class="item">
                <div class="header">desszertek</div>
                <div class="content">
                    <div class="content-item">Klasszikus tiramisu</div>
                    <div class="content-item">Marcipános somlói galuska, málnás csokoládéöntettel</div>
                    <div class="content-item">Házi vegyes rétes</div>
                </div>
            </div>
            <div class="item">
                <div class="header">éjféli vacsora</div>
                <div class="content">
                    <div class="content-item">Kézműves mini hamburger házi sültburgonyával cole slaw salátával</div>
                    <div class="content-item">Hideg sültek a vacsoráról és saláták</div>
                </div>
            </div>
        </div>
    </div>
</div>
