<div id="wrapper">
    <div id="header">
        <div>Már csak {{ date }} nap van hátra!</div>
    </div>
    <div id="body">
        <div id="list">
            <div class="list-item">
                <div class="header">Mikor?</div>
                <div class="subheader">2025. augusztus 2-án</div>
            </div>
            <div class="list-item">
                <div class="header">Hol?</div>
                <div class="subheader">Mohácson</div>
            </div>
            <div class="list-item">
                <div class="time">16:00</div>
                <div class="header">Egyházi szertartás</div>
                <div class="subheader">Magyarok Nagyasszonya Templom</div>
            </div>
            <div class="list-item">
                <div class="time">17:00</div>
                <div class="header">Polgári szertartás</div>
                <div class="subheader">Selyemgyár</div>
            </div>
        </div>
        <div id="image-wrapper">
            <div id="image"></div>
        </div>
    </div>
</div>
