<div id="wrapper">
    <app-section>
        <div id="welcome"><app-welcome></app-welcome></div>
    </app-section>
    <app-section>
        <div id="countdown"><app-countdown></app-countdown></div>
    </app-section>
    <app-section><div id="location">section 3</div></app-section>
    <app-section><div id="apartments">section 4</div></app-section>
    <app-section><div id="menu">section 5</div></app-section>
    <app-section><div id="soon">section 7</div></app-section>
    <app-section><div id="feedback">section 8</div></app-section>
</div>
