<div id="wrapper">
    <app-section>
        <div id="welcome"><app-welcome></app-welcome></div>
    </app-section>
    <app-section>
        <div id="countdown"><app-countdown></app-countdown></div>
    </app-section>
    <app-section>
        <div id="location"><app-location></app-location></div>
    </app-section>
    <app-section>
        <div id="apartments"><app-apartments></app-apartments></div>
    </app-section>
    <app-section>
        <div id="menu"><app-menu></app-menu></div
    ></app-section>
    <app-section>
        <div id="soon">
            <app-soon></app-soon>
        </div>
    </app-section>
    <app-section>
        <div id="feedback">
            <app-feedback></app-feedback>
        </div>
    </app-section>
</div>
